@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #2b2b2b;
  --light-gray: #d4d4d4;
  --grad: 0.4;
  --grad-about: 0.7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray: #2b2b2b;
    --light-gray: #d4d4d4;
  }
}

/* html {
  background: var(--gray) !important;
} */

body {
  background: var(--gray);
  color: white;
}

header h1 {
  @apply text-4xl font-extralight
}

header h2 {
  @apply font-extralight text-center text-5xl my-16
}

section {
  @apply my-48 
}


/* ##################### NAV ##################### */

#nav {
  @apply absolute top-0 left-0 w-full flex flex-row align-middle z-10;
}

#nav .icon_container {
  @apply p-4 absolute top-0 left-0;
}

#nav .logo_container {
  @apply mx-auto py-2;
}


/* ##################### HERO ##################### */


#hero {
  overflow: hidden;
}

#hero #hero_img {
  z-index: -1;
  animation: heroframes 30s infinite;
  /* background-image: linear-gradient(to top, rgba(45, 45, 45, var(--grad)), rgba(45, 45, 45, var(--grad))), url("/img/hero/alice1.jpg"); */
  /* background-position: 100% 40%; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  @apply min-h-screen grid place-content-stretch;
}

#hero h1 {
  @apply text-3xl sm:text-5xl pb-8 px-2 sm:px-12 text-center absolute bottom-[5%] left-[50%] translate-x-[-50%] z-10;
}

@keyframes heroframes {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.custom-shape-divider-bottom-1694885761 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1694885761 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1694885761 .shape-fill {
  fill: var(--gray);
}


/* ##################### ABOUT ##################### */


#about {
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, var(--grad-about)), rgba(0, 0, 0, var(--grad-about))), url("/img/hero/alice2.jpg"); */
    /* background-position: 100% 30%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    @apply relative grid sm:flex justify-center rounded-xl py-12 mt-64;
}

#about .mandacaru_wrapper{
  @apply absolute -top-16 right-[50%] translate-x-[50%] scale-75 sm:scale-100 pointer-events-none;
}

#about .title_container {
  @apply w-full sm:w-1/2 grid place-content-center;
}

#about hr {
  @apply bg-white rounded-md w-1 h-[250px] my-6 hidden sm:grid;
}

#about .text_container {
  @apply w-full sm:w-1/2 px-4 sm:px-24 text-justify sm:pl-10 grid place-content-center text-lg sm:text-xl font-light max-w-[800px];
}


/* ##################### ABOUT ##################### */


#featured{
  @apply grid;
}

#featured .grid_imgs {
  display: grid;
  grid-template: repeat(3, 400px) 200px  / repeat(8, 1fr);
}

#featured .grid_imgs > a {
  @apply overflow-hidden object-cover hover:!scale-100;
}

#featured .grid_imgs > a > img {
  @apply w-full h-full object-cover hover:scale-110 overflow-hidden duration-300 ease-in-out cursor-pointer;
}


#featured .grid_imgs a:nth-child(1) {
  grid-column: 1/5;
  grid-row: 1/1;
}

#featured .grid_imgs a:nth-child(2) {
  grid-column: 5/8;
  grid-row: 1/1;
}

#featured .grid_imgs a:nth-child(3) {
  grid-column: 1/3;
  grid-row: 2/2;
}

#featured .grid_imgs a:nth-child(4) {
  grid-column: 3/5;
  grid-row: 2/2;
}

#featured .grid_imgs a:nth-child(5) {
  grid-column: 5/9;
  grid-row: 2/2;
}

#featured .grid_imgs a:nth-child(6) {
  grid-column: 2/5;
  grid-row: 3/3;
}
#featured .grid_imgs a:nth-child(7) {
  grid-column: 5/9;
  grid-row: 3/5;
}


/* ##################### ABOUT ##################### */


#testimonials{
  @apply mt-0  
}